<!-- EJS Template for CIS 371 Semester Project, Anderson Yeakey -->
<!-- Individual Building Page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= building.name %></title>

        <link rel="stylesheet" href="gvsu-building-general.css">
    </head>

    <body>
        <div class="pageContainer">
            <div class="headerContainer">
                <header><%= building.name %> (<%= building.abbreviation %>)</header>
                <div class="dropdown">
                    <img id="usr" src="user.png" alt="User Profile">
                    <div id="dropdownContent" class="hide">
                        <p><%= username %></p>
                        <button type="button" onclick="logout()">Log Out</button>
                    </div>
                </div>
            </div>

            <div class="coverPhotoContainer">
                <img src="<%= building.name %>.jpg" alt="Photo of <%= building.name %>">
            </div>

            <div class="descriptionContainer">
                <p><%= building.description %></p>
            </div>

            <div class="infoContainer">
                <p>Year Built: <%= building.yearBuilt %></p>
                <p>Area (in Square Feet): <%= building.area %></p>
                <p>Campus: <%= building.campus %></p>
                <p>Address: <%= building.address %></p>
            </div>

            <div class="navBarContainer">
                <a href="http://35.184.131.82:5838/<%= building.name %>/edit">Edit Building Page</a>
            </div>
        </div>

        <script type="text/javascript" src="logout.js"></script>
    </body>
</html>
