<!-- EJS Template for CIS 371 Semester Project, Anderson Yeakey -->
<!-- Home / Navigation Page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= campus %> Campus</title>

        <link rel="stylesheet" href="/styles/gvsu-building-general.css">
    </head>

    <body class="pageContainer">
        <div class="headerContainer">
            <header>The Buildings of <%= campus %> Campus</header>
            <div class="dropdown">
                <img id="usr" src="/public/user.png" alt="User Profile">
                <div id="dropdownContent" class="hide">
                    <p><%= username %></p>
                    <button type="button" onclick="logout()">Log Out</button>
                </div>
            </div>
        </div>

        <ol>
            <% buildings.forEach((building) => { %>
                <li><a href="building/<%= building.name %>"><%= building.name %></a></li>
            <% }) %>
        </ol>

        <script type="text/javascript" src="/styles/logout.js"></script>
    </body>
</html>
