<!-- EJS Template for CIS 371 Semester Project, Anderson Yeakey -->
<!-- Building Edit Page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Editing <%= building.name %></title>

        <link rel="stylesheet" href="/styles/gvsu-building-general.css">
    </head>

    <body>
        <div class="pageContainer">
            <div class="headerContainer">
                <header><%= building.name %></header>
                <div class="dropdown">
                    <img id="usr" src="/public/user.png" alt="User Profile">
                    <div id="dropdownContent" class="hide">
                        <p><%= username %></p>
                        <button type="button" onclick="logout()">Log Out</button>
                    </div>
                </div>
            </div>

            <div class="coverPhotoContainer">
                <img src="/public/<%= building.name %>.jpg" alt="Photo of <%= building.name %>">
            </div>

            <form action="" method="post">
		<input type="hidden" name="name" value="<%= building.name %>">

                <label for="abbreviation">Abbreviation</label>
                <div></div>
                <input type="text" name="abbreviation" value="<%= building.abbreviation %>">

                <label for="description">Description</label>
                <div></div>
                <textarea name="description"><%= building.description %></textarea>
    
                <label for="yearBuilt">Year Built</label>
                <div></div>
                <input type="number" name="yearBuilt" min="1960" max="10000" value="<%= building.yearBuilt %>">
    
                <label for="area">Area (in Square Feet)</label>
                <div></div>
                <input type="number" name="area" min="0" max="10000000" value="<%= building.area %>">
    
                <label for="campus">Campus</label>
                <div></div>
                <input type="text" name="campus" value="<%= building.campus %>">

                <label for="address">Address</label>
                <div></div>
                <input type="text" name="address" value="<%= building.address %>">
    
                <input type="submit" value="Submit Edits"/>
            </form>

            <div class="navBarContainer">

            </div>
        </div>

        <script type="text/javascript" src="/scripts/logout.js"></script>
    </body>
</html>
